.feedback {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: $white;
    border-radius: 14px;

    &__image-wrapper {
        width: 220px;
        height: 50px;
        margin-right: 50px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        font-size: 17px;
        line-height: normal;
        margin-bottom: 30px;
    }
}

@media (max-width: $tablet-width) {
    .feedback {
        padding: 15px 20px;
    
        &__image-wrapper {
            width: 220px;
            height: 50px;
            margin-right: 50px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        &__name {
            font-size: 17px;
            line-height: normal;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: $mobile-width) {
    .feedback {
        padding: 10px 15px;
        width: 300px;
    
        &__image-wrapper {
            flex-shrink: 0;
            width: auto;
            height: 50px;
            margin-right: 15px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        &__name {
            font-size: 17px;
            line-height: normal;
            margin-bottom: 30px;
        }

        &__text {
            font-size: 13px;
        }
    }
}