.achievements {

    &__title {
        font-size: 42px;
        line-height: normal;
        margin-bottom: 50px;
    }
    
    &__max {
        display: inline-block;
        width: auto;
        height: 65px;
        background-color: #f7b965;
        padding: 5px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        margin-bottom: 70px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        border: 1px solid #868686;
        border-radius: 6px;
        padding: 10px;
        background-color: $white;
        transition: all 200ms ease;
        cursor: default;

        &:nth-child(7) {
            width: auto;
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
            flex-direction: row;
        }

        &:hover {
            box-shadow: 1px 2px 3px 0 #9e9696;
            transition: all 200ms ease;
        }

        &__value {
            font-weight: 500;
            font-size: 55px;
            line-height: 61px;
            margin-bottom: 15px;
        }

        &__description {
            font-size: 18px;
            line-height: normal;
        }

        &__logo {
            margin-right: 20px;
        }

        &__index {
            font-size: 24px;
            font-weight: 800;
        }
    }

    &__second-title {
        font-size: 42px;
        line-height: normal;
        text-align: center;
        margin-bottom: 50px;
    }

    &__features {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    &__features-item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 280px;
        height: 400px;
        background-color: $white;
        border-radius: 33px;
        cursor: pointer;
    }

    &__features-description {
        position: relative;
        padding: 5px 15px 20px 15px;

        &::after {
            position: absolute;
            top: -80px;
            right: 10px;
            display: block;
            content: '';
            width: 70px;
            height: 70px;
            border: 5px solid #e8325c;
            border-radius: 50%;
            background-image: url('../img/main/hand.svg');
            background-size: 40px 40px;
            background-position: 12px 8px;
            background-repeat: no-repeat;
            background-color: $white;
        }
    }
}