.header {
    position: relative;

    &__not-main {
        box-shadow: 0px 6px 12px rgba(105, 112, 117, 0.25);
    }

    &::before {
        display: block;
        content: " ";
        background: url("../img/header/border.svg");
        width: 100%;
        height: 7px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 28px 0;
        align-items: center;

        @media (max-width: 1200px) {
            padding: 24px 0;
        }

        @media (max-width: 860px) {
            padding: 5px 0;
        }

        &__title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        &__logo {
            width: 70px;
            height: 70px;
        }

        &__index {
            width: 400px;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #1d2931;
        }

        &__site-navigation {
            display: flex;
            flex-direction: row;
        }

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 802px;

            @media (max-width: $fixed-width) {
                padding: 0 20px;
            }

            @media (max-width: 1000px) {
                padding: 0 50px;
            }

            @media (max-width: 860px) {
                padding: 0 30px;
            }
        }

        &__whatsapp {
            margin-right: 10px;

            svg {
                width: 45px;
                height: 45px;
            }

            @media (max-width: 860px) {
                margin-right: 5px;
            }

            @media (max-width: 860px) {
                svg {
                    width: 38px;
                    height: 38px;
                }
            }
        }

        &__telegram {

            svg {
                width: 45px;
                height: 45px;
            }
            
            @media (max-width: 860px) {
                svg {
                    width: 38px;
                    height: 38px;
                }
            }
        }

        &__telegram,
        &__whatsapp {
            &:hover {
                & svg path {
                    fill: $black;
                }
            }

            &:active {
                svg {
                    opacity: 0.8;
                }
            }
        }

        &__link {
            display: flex;
            flex-direction: row;

            & img {
                @media (max-width: $fixed-width) {
                    width: 38px;
                    height: 38px;
                }

                @media (max-width: 1000px) {
                    width: 36px;
                    height: 36px;
                }
            }
        }

        &__item a {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: $black;

            @media (max-width: $fixed-width) {
                font-size: 16px;
                line-height: 20px;
            }

            @media (max-width: 1000px) {
                font-size: 14px;
                line-height: 18px;
            }

            @media (max-width: 860px) {
                font-size: 13px;
                line-height: 18px;
            }

            &:active {
                opacity: 0.6;
            }
        }

        &__button {
            border: none;
            background: none;
            display: none;
        }

        .pop-up {
            display: none;
        }
    }
}

@media (max-width: $tablet-width) {
    .header {
        &::before {
            height: 5px;
        }

        .navigation {
            padding-top: 9px;
            padding-left: 0;

            &__logo {
                svg {
                    width: 78px;
                    height: 31px;
                }
            }

            &__list {
                margin: 0 10px 0 30px;
                max-width: 463px;
                padding: 0;

                @media (max-width: $mobile-adaptive-width) {
                    display: none;
                }
            }

            &__link {
                padding-right: 4px;

                @media (max-width: $mobile-adaptive-width) {
                    display: none;
                }

                & img {
                    width: 38px;
                    height: 38px;

                    @media (max-width: $mobile-adaptive-width) {
                        display: none;
                    }
                }
            }

            &__item a {
                font-size: 13px;
                line-height: 24px;
            }

            &__button {
                display: none;

                & img {
                    width: 34px;
                    height: 34px;
                }

                @media (max-width: $mobile-adaptive-width) {
                    display: block;
                }
            }
        }

        .pop-up {
            display: none;
            z-index: 4;

            &.show {
                display: block;
            }

            @media (max-width: 767px) {
                position: absolute;
                top: 0;
                right: 0;
                width: 530px;
                padding: 45px 40px 22px 26px;
                background: $black;
            }

            @media (max-width: 550px) {
                top: 0;
                right: 0;
                width: 420px;
                padding: 45px 40px 22px 26px;
                background: $black;
            }

            @media (max-width: 420px) {
                width: 335px;
            }

            @media (max-width: 400px) {
                width: 340px;
            }

            @media (max-width: 350px) {
                width: 313px;
            }

            a {
                color: $white;
            }

            .pop-up__sublist-button {
                position: absolute;
                top: 53px;
                left: 104px;
                display: block;
                border: none;
                content: "";
                background-image: url("../img/header/burger-button-mobile.svg");
                background-size: cover;
                background-color: transparent;
                width: 13px;
                height: 7px;
            }

            &__placeholder-input:checked ~ .pop-up__sublist-button {
                transform: rotate(180deg);
            }

            .pop-up__burger-button-close {
                position: absolute;
                top: 18px;
                right: 16px;
                width: 15px;
                height: 15px;
                padding: 0;
                border: none;
                background-color: transparent;

                &::after,
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    border-radius: 8px;
                    background-color: white;

                    &:active,
                    &:hover {
                        color: $red;
                    }
                }

                &::after {
                    transform: rotate(-45deg);
                }

                &::before {
                    transform: rotate(45deg);
                }
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            &__list {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 15px;
            }

            &__placeholder-input:checked ~ .pop-up__sublist {
                display: flex;
            }

            .visually-hidden {
                position: absolute;
                overflow: hidden;
            }

            &__sublist {
                display: none;
                flex-flow: row wrap;
                justify-content: space-between;
                margin-top: 13px;
                font-size: 12px;
                line-height: 15px;
            }

            &__sublist-item {
                display: inline-block;
                width: 40%;
                margin-bottom: 9px;

                &:nth-child(odd) {
                    margin-right: 4%;
                }
            }

            &__item-link {
                font-size: 18px;
                line-height: 24px;
                color: $white;
            }

            &__link {
                display: flex;
                flex-direction: row;
                padding-top: 22px;

                a:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .header {
        .navigation {
            padding: 4px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__logo {
                & img {
                    width: 67px;
                    height: 34px;
                }
            }

            &__button {

                & img {
                    width: 27px;
                    height: 32px;
                }
            }

            .pop-up {
                position: absolute;
                top: 0;
                right: 0;
                width: 283px;
                padding: 45px 40px 22px 26px;
                background: $black;
                z-index: 4;

                a {
                    color: $white;
                }

                .pop-up__sublist-button {
                    position: absolute;
                    top: 53px;
                    left: 104px;
                    display: block;
                    border: none;
                    content: "";
                    background-image: url("../img/header/burger-button-mobile.svg");
                    background-size: cover;
                    background-color: transparent;
                    width: 13px;
                    height: 7px;

                    &:hover {
                        transform: rotate(180deg);
                    }
                }

                .pop-up__burger-button-close {
                    position: absolute;
                    top: 18px;
                    right: 16px;
                    width: 15px;
                    height: 15px;
                    padding: 0;
                    border: none;
                    background-color: transparent;

                    &::after,
                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        border-radius: 8px;
                        background-color: white;
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }

                    &::before {
                        transform: rotate(45deg);
                    }
                }

                &__wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                &__list {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 15px;
                }

                &__placeholder-input:checked ~ .pop-up__sublist {
                    display: flex;
                }

                .visually-hidden {
                    position: absolute;
                    overflow: hidden;
                }

                &__sublist {
                    display: none;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    margin-top: 13px;
                    font-size: 12px;
                    line-height: 15px;
                }

                &__sublist-item {
                    display: inline-block;
                    width: 40%;
                    margin-bottom: 9px;

                    &:nth-child(odd) {
                        margin-right: 4%;
                    }
                }

                &__item-link {
                    font-size: 18px;
                    line-height: 24px;
                    color: $white;
                }

                &__link {
                    display: flex;
                    flex-direction: row;
                    padding-top: 22px;

                    a:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

