.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e8e8ff;
    z-index: 3;

    &__not-main {
        box-shadow: 0px 6px 12px rgba(105, 112, 117, 0.25);
    }

    .contacts {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 15px 0;
        align-items: center;

        &__title {
            display: flex;
            width: 240px;
            align-items: center;
            margin-right: 20px;
            border-radius: 14px;
        }
        
        &__navigation {
            display: flex;
            flex-direction: row;
            margin-right: 20px;
            padding: 10px 20px;
        }
        
        &__item {
            position: relative;
            font-size: 14px;
            line-height: normal;
            padding: 10px 15px;
            transition: all .3s;

            &:not(:last-child) {
                margin-right: 25px;
            }

            &:hover {
                box-shadow: 0px 2px 0px #888df0, 0px -2px 0px #888df0, 2px 0px 0px #888df0, -2px 0px 0px #888df0;
                border-radius: 8px;
            }
        }

        &__lead {
            font-size: 14px;
            line-height: normal;
        }
    }
}
