.price {
    overflow: hidden;

    &__wrapper {
        padding: 100px 0 0 0;
        margin-bottom: 150px;
    }

    .tabs-container {
        margin: 50px auto;
        padding: 25px 0;
    }
      
    .tabs {
        display: flex;
    }
      
    .tabs li:not(:last-child) {
        margin-right: 7px;
    }
      
    .tabs-title {
        display: block;
        position: relative;
        top: 4px;
        font-size: 28px;
        line-height: normal;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 2px 2px 0 0;
        background: #e8e8ff;
        opacity: 0.7;
        transition: all 0.1s ease-in-out;
    }
      
    .tabs li.active a,
    .tabs li a:hover {
        opacity: 1;
        top: 0;
    }
      
    .tabs-content {
        position: relative;
        z-index: 2;
        padding: 100px 20px;
        border-radius: 0 4px 4px 4px;
        background: #e8e8ff;

        &::after {
            position: absolute;
            bottom: -50px;
            right: -75px;
            content: " ";
            background-image: url("../img/main/star.png");
            background-size: 200px 180px;
            width: 190px;
            height: 180px;
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            z-index: 3;
        }
    }
      
    .tabs-panel {
        display: none;
    }

    .tabs-panel:nth-child(2) .tabs-item {
        background-color: #f39ddc;
    }

    .tabs-panel:nth-child(3) .tabs-list {
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-bottom: 50px;
    }

    .tabs-panel:nth-child(3) h3 {
        text-align: center;
    }

    .tabs-panel:nth-child(3) .tabs-item {
        width: auto;
        background-color: white;
        border: 2px solid red;
        color: tomato;
        margin-bottom: 20px;
    }

    .tabs-panel:nth-child(3) .tabs-item:not(:last-child) {
       margin-right: 20px;
    }

    .tabs-panel:nth-child(3) p {
        font-size: 28px;
        line-height: normal;
        font-weight: 700;
    }

    .tabs-discount-reminder {
        padding-left: 70px;
        .achievements__max {
            height: 50px;
        }
    }
      
    .tabs-panel.active {
        display: block;
    }
      
    .tabs-panel .tabs-price + div {
        margin-top: 15px;
    }

    .tabs-price {
        display: flex;
        flex-direction: column;
    }

    .tabs-uge-price {
        margin-bottom: 100px;
    }

    .tabs-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .uge-title,
    .oge-title {
        font-size: 37px;
        line-height: normal;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;

        .achievements__max {
            height: 60px;
        }
    }

    .tabs-item {
        display: block;
        width: 370px;
        padding: 30px 32px;
        background-color: #888df0;
        border: none;
        border-radius: 14px;
    }

    .tabs-sell {
        font-size: 38px;
        line-height: normal;
        font-weight: bold;
        margin-bottom: 15px;
    }
}

@media (max-width: $tablet-width) {
    .price {
    
        &__wrapper {
            padding: 100px 0 0 0;
            margin-bottom: 150px;
        }

        &__title {
            font-size: 37px;
            text-align: center;
        }
    
        .tabs-container {
            margin: 50px auto;
            padding: 25px 10px;
        }
          
        .tabs {
            display: flex;
        }
          
        .tabs li:not(:last-child) {
            margin-right: 7px;
        }
          
        .tabs-title {
            display: block;
            position: relative;
            top: 4px;
            font-size: 28px;
            line-height: normal;
            font-weight: bold;
            padding: 10px 25px;
            border-radius: 2px 2px 0 0;
            background: #e8e8ff;
            opacity: 0.7;
            transition: all 0.1s ease-in-out;
        }
          
        .tabs li.active a,
        .tabs li a:hover {
            opacity: 1;
            top: 0;
        }
          
        .tabs-content {
            padding: 80px 20px 30px 20px;
    
            &::after {
                bottom: -50px;
                right: -20px;
                background-size: contain;
                background-repeat: no-repeat;
                width: 148px;
                height: 136px;
            }
        }
    
        .tabs-panel:nth-child(3) .tabs-list {
            flex-wrap: wrap;
            width: 100%;
            gap: 10px;
            margin-bottom: 50px;
        }
    
        .tabs-panel:nth-child(3) h3 {
            text-align: center;
        }
    
        .tabs-panel:nth-child(3) .tabs-item {
            margin: 0;
            width: 320px;
        }
    
        .tabs-panel:nth-child(3) .tabs-item:not(:last-child) {
           margin-right: 20px;
        }
    
        .tabs-panel:nth-child(3) p {
            font-size: 28px;
            line-height: normal;
            font-weight: 700;
        }
    
        .tabs-discount-reminder {
            padding-left: 70px;
            .achievements__max {
                height: 50px;
            }
        }
          
        .tabs-panel.active {
            display: block;
        }
          
        .tabs-panel .tabs-price + div {
            margin-top: 15px;
        }
    
        .tabs-price {
            display: flex;
            flex-direction: column;
        }
    
        .tabs-uge-price {
            margin-bottom: 100px;
        }
    
        .tabs-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
        }
        
        .uge-title,
        .oge-title {
            font-size: 37px;
            line-height: normal;
            font-weight: bold;
            text-align: center;
            margin-bottom: 50px;
    
            .achievements__max {
                height: 60px;
            }
        }
    
        .tabs-item {
            width: 215px;
            padding: 20px 25px;
        }
    
        .tabs-sell {
            font-size: 34px;
        }
    }
}

@media (max-width: $tablet-width) {
    .price {
    
        &__wrapper {
            padding: 100px 0 0 0;
            margin-bottom: 50px;
        }

        &__title {
            font-size: 29px;
            margin-bottom: 25px;
        }
    
        .tabs-container {
            margin: 50px auto;
            padding: 25px 10px;
        }
          
        .tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
          
        .tabs li:not(:last-child) {
            margin-right: 7px;
        }
          
        .tabs-title {
            display: block;
            position: relative;
            top: 4px;
            font-size: 16px;
            line-height: normal;
            font-weight: bold;
            padding: 10px 25px;
            border-radius: 2px 2px 0 0;
            background: #e8e8ff;
            opacity: 0.7;
            transition: all 0.1s ease-in-out;
        }
          
        .tabs li.active a,
        .tabs li a:hover {
            opacity: 1;
            top: 0;
        }
          
        .tabs-content {
            padding: 40px 20px 15px 20px;
    
            &::after {
                bottom: -23px;
                right: -45px;
                width: 114px;
                height: 66px;
            }
        }
    
        .tabs-panel:nth-child(3) .tabs-list {
            flex-wrap: wrap;
            width: 100%;
            gap: 0;
            margin-bottom: 50px;
        }
    
        .tabs-panel:nth-child(3) h3 {
            font-size: 23px;
            margin-bottom: 30px;
        }
    
        .tabs-panel:nth-child(3) .tabs-item {
            margin: 0;
            width: 100%;
        }
    
        .tabs-panel:nth-child(3) .tabs-item:not(:last-child) {
           margin: 0 0 20px 0;
        }
    
        .tabs-panel:nth-child(3) p {
            font-size: 15px;
        }
    
        .tabs-discount-reminder {
            padding-left: 0;

            .achievements__max {
                height: 30px;
            }
        }
          
        .tabs-panel.active {
            display: block;
        }
          
        .tabs-panel .tabs-price + div {
            margin-top: 15px;
        }
    
        .tabs-price {
            display: flex;
            flex-direction: column;
        }
    
        .tabs-uge-price {
            margin-bottom: 50px;
        }
    
        .tabs-list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;
        }
        
        .uge-title,
        .oge-title {
            font-size: 23px;
            margin-bottom: 50px;
    
            .achievements__max {
                height: 60px;
            }
        }
    
        .tabs-item {
            width: 100%;
            padding: 15px 20px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    
        .tabs-sell {
            font-size: 29px;
        }
    }
}