.teachers {
    overflow: hidden;

    &__wrapper {
        margin-bottom: 150px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 60px;
        margin-bottom: 150px;
    }

    /* -------------------------------Слайдер--------------------------------- */
    .slick-slider{
        position: relative;
        height: 100%;
        margin: 0 120px;

        @media (max-width: 1400px) {
            margin: 0 100px;
        }

        @media (max-width: 1200px) {
            margin: 0 50px;
        }

        @media (max-width: 1000px) {
            margin: 0;
        }
    }

    /* Слайдер запущен */
    .slick-slider.slick-initialized{}

    /* Слайдер с точками */
    .slick-slider.slick-dotted{}

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
        margin: 0 auto;
    }

    /* Лента слайдов */
    .slick-track{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    /* Слайд */
    .slick-slide{
        overflow: hidden;
        height: auto;

        &:not(:first-child) {
            margin-left: 30px;
        }
        
        img {
            width: 100%;
        }
    }

    .slider {
        position: relative;
    }
}

@media (max-width: $tablet-width) {
    .teachers {
        overflow: hidden;

        h2 {
            font-size: 32px;
            text-align: center;
        }
    
        &__wrapper {
            margin-bottom: 80px;
        }
    
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 60px;
            margin-bottom: 100px;
        }

        &__reviews-title {
            font-size: 32px;
            text-align: center;
        }
    
        /* -------------------------------Слайдер--------------------------------- */
        .slick-slider{
            position: relative;
            height: 100%;
            margin: 0 120px;
    
            @media (max-width: 1400px) {
                margin: 0 100px;
            }
    
            @media (max-width: 1200px) {
                margin: 0 50px;
            }
    
            @media (max-width: 1000px) {
                margin: 0;
            }
        }
    
        /* Слайдер запущен */
        .slick-slider.slick-initialized{}
    
        /* Слайдер с точками */
        .slick-slider.slick-dotted{}
    
        /* Ограничивающая оболочка */
        .slick-list {
            overflow: hidden;
            margin: 0 auto;
        }
    
        /* Лента слайдов */
        .slick-track{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 40px;
        }
    
        /* Слайд */
        .slick-slide{
            overflow: hidden;
            height: auto;
    
            &:not(:first-child) {
                margin-left: 30px;
            }
            
            img {
                width: 100%;
            }
        }

        .slick-dots{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 148px;
            margin: 0 auto;
        }
    
        .slider {
            position: relative;
        }
    }
}

@media (max-width: $mobile-width) {
    .teachers {

        h2 {
            font-size: 29px;
            margin-bottom: 30px;
        }
    
        &__wrapper {
            margin-bottom: 50px;
        }
    
        &__list {
            justify-content: center;
            gap: 25px;
            margin-bottom: 70px;
        }

        &__reviews-title {
            font-size: 29px;
            margin-bottom: 50px;
        }
    
        /* -------------------------------Слайдер--------------------------------- */
        .slick-slider{
            position: relative;
            height: 100%;
            margin: 0 120px;
    
            @media (max-width: 1400px) {
                margin: 0 100px;
            }
    
            @media (max-width: 1200px) {
                margin: 0 50px;
            }
    
            @media (max-width: 1000px) {
                margin: 0;
            }
        }
    
        /* Слайдер запущен */
        .slick-slider.slick-initialized{}
    
        /* Слайдер с точками */
        .slick-slider.slick-dotted{}
    
        /* Ограничивающая оболочка */
        .slick-list {
            overflow: hidden;
            margin: 0 auto;
        }
    
        /* Лента слайдов */
        .slick-track{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 40px;
        }
    
        /* Слайд */
        .slick-slide{
            overflow: hidden;
            height: auto;
    
            &:not(:first-child) {
                margin-left: 30px;
            }
            
            img {
                width: 100%;
            }
        }
    
        .slider {
            position: relative;
        }
    }
}