html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat";
    background-color: #f9f9f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b1b7b1' fill-opacity='0.09'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    min-width: 320px;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

main {
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $black;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
    @include breakpoint;
}

.button {
    cursor: pointer;

    &.red {
        background-color: $red;
        transition: 0.3s ease-in-out;
        opacity: 1;

        &:hover {
            background-color: $tint-red;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &.black {
        background-color: #1d2931;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: $red;
            border: none;
        }

        &:active {
            opacity: 0.8;
        }
    }
}

.link {
    &:hover {
        opacity: 0.8;
        transition: 0.3s;
    }
}

label {
    cursor: pointer;
}

input {
    cursor: pointer;
    outline: none;

    &:hover {
        border-color: $input-hover-border;
    }
}

.input-wrapper {
    position: relative;

    &__label {
        display: flex;
        flex-direction: row;

        @media (max-width: $tablet-width) {
            justify-content: center;
            width: 328px;
        }

        @media (max-width: $mobile-width) {
            flex-direction: column;
            width: 100%;
        }
    }

    label {
        width: 35%;

        @media (max-width: 1250px) {
            width: 40%;
        }

        @media (max-width: $mobile-width) {
            width: 100%;
        }
    }

    span {
        display: none;
        width: 55%;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin: 6px 0 0 10px;
        color: $red;

        input {
            border-color: $black;
        }

        @media (max-width: $tablet-width) {
            width: 100%;
            margin: 0 0 6px 0;
            text-align: center;
        }

        @media (max-width: $mobile-width) {
            width: 100%;
            margin: 0 0 6px 0;
            text-align: center;
        }
    }

    &.error {
        input {
            border-color: $red;
        }

        span {
            display: block;
        }
    }
}
