//colors
$white: #ffffff;
$red: #f15f79;
$tint-red: #e53c5a;
$black: rgb(29, 41, 49);
$text-link: #bbbbcb;
//special-color
$input-hover-border: rgba(29, 41, 49, 0.6);
//width
$mobile-width: 320px;
$mobile-adaptive-width: 767px;
$tablet-width: 768px;
$fixed-width: 1920px;
//fonts
